@import "settings";
@import "foundation";

body{
	font-family:calibri,arial;
}

.content {

	margin: 50px 50px 50px 50px;
	padding: 20px 20px 20px 20px;
	color:white;

	background:grey;
	display:block;
	box-sizing:border-box;


}


.tab-bar {

background: #005283;

}

