@import "settings";
@import "foundation";


@font-face {

font-family: 'Calibri';
src: url(../fonts/calibri.ttf);

	} 



body{
	font-family:Calibri;
}

section.main-section {

	background-image: url(../img/students.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
}

.home-box {

	margin: 50px 50px 50px 50px;
	padding: 20px 20px 20px 20px;
	color:white;


}


.tab-bar {

background: #005283;

}


