@import "settings";
@import "foundation";


@font-face {

font-family: 'Calibri';
src: url(../fonts/calibri.ttf);

	} 



body{
	font-family:Calibri;
}

.content {

	margin: 50px 50px 50px 50px;
	padding: 20px 20px 20px 20px;
	color:white;

	background:grey;
	display:block;
	box-sizing:border-box;


}


.tab-bar {

background: #005283;

}

