
<!doctype html>
<!-- OUR TEMPLATE FILE -->
<html class="no-js" lang="en">
  <head>
    <meta name="theme-color" content="#093f70">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DCPS</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/app.css" />
    <script src="{{ site.baseurl }}/bower_components/foundation/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css"/>


  </head>
  <body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <a href="http://localhost:4000"><h1 class="title"><img src="{{ site.baseurl }}/{{ page.icon }}" width="30">&nbsp; {{ page.title }}</h1></a>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Classes</label></li>
        
        <li><a href="{{ site.baseurl }}/math"><img src="{{ site.baseurl }}/img/Math_W.png" width="32">&nbsp;Math</a></li>
        <li><a href="{{ site.baseurl }}/ELA"><img src="{{ site.baseurl }}/img/ELA_W.png" width="32">&nbsp;ELA</a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/img/Science_W.png" Width="32">&nbsp;Science</a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/img/SocStudies_W.png" Width="32">&nbsp;Social Studies</a></li>
      </ul>

 </aside>
    <section class="main-section" style="min-height:1000px;">

      {{ content }}

    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>





    <!-- end -->

    <script src="{{ site.baseurl }}/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

    <script>
      $(document).ready(function(){
        $('.hp-slider').slick({
           dots: true,
           infinite: true,
           speed: 300
          });
        });
    </script>



  </body>
</html>
